---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Gallery from "../components/Gallery.astro";
import AccordionFaq from "../components/AccordionFaq.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import iconWhatsapp from "../assets/icon-whatsapp.svg";
// import heroImage from "../assets/hero-image.jpg";
// import heroImage from "../assets/loveartdesign-instagram/wedding/picked/04-wedding-WhatsApp Image 2025-03-24 at 09.58.43.jpeg";
import heroImage from "../assets/loveartdesign-instagram/wedding/picked/WhatsApp Image 2025-04-24 at 14.02.09.jpeg";

import heroForegroundDecor from "../assets/hero-foreground-decor.png";

import overlay1 from "../assets/portfolio/wedding02.jpg";
import overlay2 from "../assets/portfolio/special09.jpg";

const services = [
  {
    title: "Wedding & ROM Decorations",
    description:
      "Elegant and tailored decorations to bring your vision to life for weddings and ROM ceremonies.",
  },
  {
    title: "House Party and Birthday Decorations",
    description:
      "Thoughtfully designed decorations to match any theme and make your party memorable.",
  },
  {
    title: "Gown Packages",
    description:
      "A curated selection of gowns to suit your style and make your special day even more remarkable.",
  },
  {
    title: "Professional Make up",
    description:
      "Expert makeup services to enhance your natural beauty for weddings, events, or photoshoots.",
  },
  {
    title: "Video & Photography Packages",
    description:
      "Professional video and photography services to document your special moments seamlessly.",
  },
  {
    title: "Live Band",
    description:
      "Versatile live music to create the perfect atmosphere for any celebration or gathering.",
  },
  {
    title: "Printable stuffs & designs",
    description:
      "Customizable designs and print materials to add a unique and polished touch to your event.",
  },
  {
    title: "Floral Arrangements & Bouquets",
    description:
      "Custom-designed floral arrangements and bouquets to add a touch of elegance and freshness to your wedding, ROM, or special event.",
  },
];

const whatsapp_href = import.meta.env.WHATSAPP_URL;
---

<Layout title="Homepage">
  <Navbar whatsapp_href={whatsapp_href} />
  <main>
    <!-- Hero Section -->
    <section class="hero-section" style="overflow: hidden">
      <div class="container pb-0 pb-md-5 py-5 text-center text-lg-start">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-2 mb-lg-0">
            <h1 class="display-4 mb-4 fade-up">
              Celebrating Life's<br />Special Moments in Style
            </h1>
            <p class="lead mb-4 fade-up fade-up-delay-1">
              We are Creative Event Decorators, specializing in decor for
              weddings, birthdays and corporate events that inspire lasting
              memories!
            </p>
            <a
              href={whatsapp_href}
              target="_blank"
              class="btn btn-primary btn-lg fade-up fade-up-delay-2"
            >
              WhatsApp Us <i class="bi bi-whatsapp mx-1"></i>
            </a>
          </div>
          <div
            class="col-lg-6 position-relative d-flex justify-content-center px-0 px-md-3"
          >
            <figure class="my-4 fade-up fade-up-delay-1">
              <img
                src={heroImage.src}
                alt="Event Decoration"
                class="img-fluid heroimage__rounded"
                width="550"
              />
              <style>
                @media screen and (min-width: 768px) {
                  .heroimage__rounded {
                    border-radius: 1rem;
                  }
                }
              </style>
              <Image
                src={heroForegroundDecor}
                alt="Foreground Decoration"
                class="position-absolute d-none d-md-block hero-foreground"
                style="translate: 30%;"
              />
            </figure>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio-section bg--gradient-flip">
      <div class="curved" style="background: var(--offwhite)"></div>
      <div class="container py-5 text-center">
        <h2 class="display-4 fade-up">Our Portfolio</h2>
        <p class="lead mb-4 col-md-6 mx-auto fade-up fade-up-delay-1">
          Explore our diverse range of creative projects that showcase our
          expertise in event decoration. From weddings to corporate events, we
          bring visions to life with elegance and style.
        </p>
        <Gallery />
        <div class="container my-5">
          <a class="btn btn-primary btn-lg" target="_blank" href="https://www.instagram.com/loveart_design_wedding/"
            >Our Latest Work in Instagram <span class="bi bi-instagram"></span>
          </a>
        </div>
      </div>
      <div class="curved curved--flip" style="background: var(--beige);"></div>
    </section>

    <!-- Services Section -->
    <section id="services" class="bg--beige">
      <div class="container py-5">
        <h2 class="display-4 text-center mb-4 fade-up">Our Services</h2>
        <div class="row g-2 g-lg-4">
          {
            services.map((service) => (
              <div class="col-md-4">
                <div class="service-card p-4 bg-offwhite rounded shadow-sm fade-up">
                  <h3>{service.title}</h3>
                  <p class="mb-0 mb-lg-4">{service.description}</p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <div class="curved" style="background: var(--beige); padding-bottom: 8rem;">
    </div>

    <!-- FAQ Section -->
    <section class="faq-section bg--gradient">
      <!-- CTA Banner -->
      <div class="jumbo-cta container py-4">
        <div
          class="px-3 px-md-5 py-4 mb-4 rounded-5 shadow bg--beigelight fade-up"
        >
          <div class="container-fluid py-2">
            <div class="row">
              <div class="col-md-8">
                <h2 class="display-5 mb-4">
                  Get in touch<br />to create something together!
                </h2>
                <p class="lead col-md-8">
                  We are Creative Event Decorators, specializing in decor for
                  weddings, birthdays, and corporate events that bring your
                  vision to life with elegance and style. Let's make your
                  special moments unforgettable!
                </p>
              </div>
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
              >
                <a
                  class="btn btn-primary btn-lg"
                  href={whatsapp_href}
                  target="_blank"
                >
                  WhatsApp Us <img
                    src={iconWhatsapp.src}
                    width="28"
                    alt="WhatsApp Icon"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FAQ Content -->
      <div id="faqs" class="container py-5">
        <div class="row">
          <div
            class="col-md-6 d-flex justify-content-center align-items-center"
          >
            <div class="image-composition fade-up">
              <div class="image-main">
                <img
                  src={overlay2.src}
                  class="img-fluid"
                  alt="FAQ Illustration"
                />
              </div>
              <div class="image-overlay">
                <img src={overlay1.src} class="img-fluid" alt="Overlay Image" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="section-title display-5 mb-3 fade-up">
              Frequently Asked Questions
            </h2>
            <p class="lead col-md-11 mb-4">
              We are Creative Event Decorators, specializing in decor for
              weddings, birthdays and corporate events that bring your vision to
              life with elegance and style. Let's make your special moments
              unforgettable!
            </p>
            <AccordionFaq />
          </div>
        </div>
      </div>
      <div class="curved curved--flip mt-5" style="background: var(--offwhite)">
      </div>
    </section>
  </main>

  <Footer />
</Layout>
